<section class="currentstep">
    <form class="currentstep-container">
        <header class="mainTx thirdBg">Diligenciar paso</header>
        <section class="step-title">
            <h2>Convocatoria xxxxxxxx</h2>
            <h2>Paso - Información Basica</h2>
        </section>
        <section class="fields">
            <div class="item">
                <label class="mainTx font-md ellipsis" title="Nombre">Nombre
                    <mark>*</mark>
                </label>
                <input type="text" placeholder="">
            </div>
            <div class="item">
                <label class="mainTx font-md ellipsis" title="Fecha">Fecha
                    <mark>*</mark>
                </label>
                <input type="date" placeholder="">
            </div>
            <div class="item">
                <label class="mainTx font-md ellipsis" title="Tipo de documento">Tipo de documento
                    <mark>*</mark>
                </label>
                <select name="dni-type">
                    <option value="-1">--Seleccione--</option>
                    <option value="CC">Cedula de ciudadania</option>
                    <option value="TI">Tarjeta de identidad</option>
                    <option value="CE">Pasaporte</option>
                    <option value="NIT">NIT</option>
                </select>
            </div>
            <div class="item">
                <label class="mainTx font-md ellipsis" title="Fecha">Fecha
                    <mark>*</mark>
                </label>
                <input type="file" />
            </div>
        </section>
    </form>
    <div class="button-cotainer">
        <button type="button" class="whiteTx mainBg">Guardar</button>
        <button type="button" class="whiteTx secondBg">Terminar</button>
    </div>
</section>