<section class="currentstep">
    <form class="currentstep-container">
        <header class="mainTx thirdBg">Diligenciar paso</header>
        <section class="step-title">
            <h2>Convocatoria {{vm.offerName}}</h2>
            <h2>{{vm.currentStep.name}}</h2>
        </section>
        <section class="fields">
            <div class="item" ng-repeat="attr in vm.currentStep.offerStepConfiguration.serializeSettings">
                <label class="mainTx font-md ellipsis" title="Nombre">{{attr.name}}
                    <mark ng-if="attr.required">*</mark>
                </label>
                <input ng-if="attr.type == 6" type="text" placeholder="" ng-model="attr.filledValue">
                <input ng-if="attr.type == 4" type="number" placeholder="" ng-model="attr.filledValue">
                <input ng-if="attr.type == 2" type="email" placeholder="" ng-model="attr.filledValue">                
                <input ng-if="attr.type == 3" type="date" placeholder="" ng-model="attr.filledValue">                                
                <input ng-if="attr.type == 1" type="file" placeholder="" ng-model="attr.filledValue">                                                
                <select name="dni-type" ng-if="attr.type == 5">
                        <option value="-1">--Seleccione--</option>
                </select>
            </div>
        </section>
    </form>
    <div class="button-cotainer">
        <button type="button" class="whiteTx mainBg">Guardar</button>
        <button type="button" class="whiteTx secondBg" ng-click="vm.sendStep()">Terminar</button>
    </div>
</section>