<section class="postulations">
    <div class="postulation-container">
        <header class="mainTx thirdBg">Postulaciones a la ofeta {{vm.offer.name}}</header>
        <div class="filter-container">
            <div class="item">
                <label class="mainTx font-md ellipsis" title="Nombre">Aspirante</label>
                <input type="text" name="" placeholder="Aspirante">
            </div>
            <div class="item">
                <label class="mainTx font-md ellipsis" title="Fecha">Fecha</label>
                <input type="date" name="" placeholder="Fecha de postulacion">
            </div>
            <div class="item">
                <label class="mainTx font-md ellipsis" title="Estado">Estado de la oferta</label>
                <select name="type">
                    <option value="-1">--Seleccione--</option>
                </select>
            </div>
            <div class="item">
                <label class="mainTx font-md ellipsis" title="Pasos">Pasos</label>
                <select name="type">
                    <option value="-1">--Seleccione--</option>
                </select>
            </div>
            <div class="item">
                <label class="mainTx font-md ellipsis" title="Estado">Estado del paso</label>
                <select name="type">
                    <option value="-1">--Seleccione--</option>
                </select>
            </div>
            <div class="button-container">
                <button class="whiteTx mainBg">Consultar</button>
            </div>
        </div>
        <div class="table-container">
                <table ng-table="vm.table" class="main-table" show-filter="true">
                    <thead ng-if="$data.length > 0">
                        <tr>
                            <th ng-repeat="column in vm.columns" class="th-header mainTx">
                                {{column.title}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in $data track by $index">
                            <td ng-repeat="column in vm.columns" sortable="column.field" class="td-normal">
                                <p ng-if="!column.action">{{row[column.field]}}</p>
                                <button ng-if="column.action" data-ng-click="vm.goToOfferDetail(row,column);">
                                    {{row[column.field]}}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!--<div class="table-container">
            <table class="main-table">
                <tr>
                    <th class="th-header mainTx">Documento</th>
                    <th class="th-header mainTx">Aspirante</th>
                    <th class="th-header mainTx">Fecha de postulación</th>
                    <th class="th-header mainTx">Estado de la ofeta</th>
                    <th class="th-header mainTx">Paso</th>
                    <th class="th-header mainTx">Estado del paso</th>
                    <th class="th-header mainTx">Detalle</th>
                </tr>
                <tr>
                    <td class="td-normal">2017070801</td>
                    <td class="td-normal">Andrés Felipe</td>
                    <td class="td-normal">2017/07/30</td>
                    <td class="td-normal">
                        <label class="item-state yellowBg">Pendiente</label>
                    </td>
                    <td class="td-normal">Información Basica</td>
                    <td class="td-normal">
                        <label class="item-state yellowBg">Pendiente por aprobar</label>
                    </td>
                    <td class="td-normal">
                        <button class="whiteTx mainBg">Ver detalle</button>
                    </td>
                </tr>
                <tr>
                    <td class="td-normal">2017070801</td>
                    <td class="td-normal">Andrés Felipe</td>
                    <td class="td-normal">2017/07/30</td>
                    <td class="td-normal">
                        <label class="item-state redBg">Pendiente</label>
                    </td>
                    <td class="td-normal">Información Basica</td>
                    <td class="td-normal">
                        <label class="item-state redBg">Pendiente por aprobar</label>
                    </td>
                    <td class="td-normal">
                        <button class="whiteTx mainBg">Ver detalle</button>
                    </td>
                </tr>
                <tr>
                    <td class="td-normal">2017070801</td>
                    <td class="td-normal">Andrés Felipe</td>
                    <td class="td-normal">2017/07/30</td>
                    <td class="td-normal">
                        <label class="item-state greenBg">Pendiente</label>
                    </td>
                    <td class="td-normal">Información Basica</td>
                    <td class="td-normal">
                        <label class="item-state greenBg">Pendiente por aprobar</label>
                    </td>
                    <td class="td-normal">
                        <button class="whiteTx mainBg">Ver detalle</button>
                    </td>
                </tr>
                <tr>
                    <td class="td-normal">2017070801</td>
                    <td class="td-normal">Andrés Felipe</td>
                    <td class="td-normal">2017/07/30</td>
                    <td class="td-normal">
                        <label class="item-state grayBg">Pendiente</label>
                    </td>
                    <td class="td-normal">Información Basica</td>
                    <td class="td-normal">
                        <label class="item-state grayBg">Pendiente por aprobar</label>
                    </td>
                    <td class="td-normal">
                        <button class="whiteTx mainBg">Ver detalle</button>
                    </td>
                </tr>
            </table>
        </div>-->
        <div class="pagination-container">
            <label class="mainTx">Pagina {[0]} de {[0]}</label>
            <div class="item arrow-left thirdBg">
                <label class="mainTx">&lt;&lt;</label>
            </div>
            <div class="item thirdBg">
                <label class="mainTx">1</label>
            </div>
            <div class="item thirdBg">
                <label class="mainTx">2</label>
            </div>
            <div class="item thirdBg">
                <label class="mainTx">3</label>
            </div>
            <div class="item arrow-right thirdBg">
                <label class="mainTx">&gt;&gt;</label>
            </div>
        </div>
    </div>
    <div class="button-cotainer">
        <button type="button" class="whiteTx mainBg">Volver al listado</button>
    </div>
</section>