@import '../../../sass/_variables';
@import '../../../sass/_mixins';
.page-container {
    background-color: $blue_second;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    header.main-header {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        height: 70px;
        padding: 0px 10px;
        h1,
        h2 {
            color: $white;
            display: inline-block;
        }
        .logo {
            height: 50px;
            span.icon {
                background-color: $blue_second;
                display: inline-block;
                height: 50px;
                line-height: 50px;
            }
        }
        .content {
            font-weight: normal;
            font-size: $font-md;
            height: 50px;
            margin-left: 10px;
            line-height: 50px;
            padding: 0px 10px;
            text-align: center;
            @include border_radius(10px);
        }
        nav.main-menu {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            ul {
                display: flex;
                li.item {
                    color: $white;
                    cursor: pointer;
                    font-size: $font-lg;
                    font-weight: bold;
                    height: 40px;
                    line-height: 40px;
                    padding: 0px 10px;
                    text-align: center;
                }
                li.item:hover {
                    color: $blue_light;
                }
            }
        }
    }
    section.main {
        align-items: center;
        background-color: $white;
        display: flex;
        flex-direction: column;
        flex: auto;
        overflow: auto;
    }
}