<div class="page-container">
  <header class="main-header headerBg">
    <div class="logo">
      <span class="icon">A</span>
      <h1 class="title">SISTEMA UNIFICADO DE BECAS</h1>
    </div>
    <div class="content mainBg">
      <h2 class="title">Titulo de la sección</h2>
    </div>
    <nav class="main-menu">
      <ul>
        <li class="item"><a routerLink="/login" routerLinkActive="active">Inicio</a></li>
        <li class="item"> <a routerLink="/offer" routerLinkActive="active">Ofertas</a> </li>
        <li class="item"> <a routerLink="/profile" routerLinkActive="active">Perfil</a></li>
        <li class="item"> <a routerLink="/register" routerLinkActive="active">Registro</a></li>
      </ul>
    </nav>
  </header>
</div>