@import '../../../sass/_variables';
@import '../../../sass/_mixins';
.login-container {
    align-items: center;
    background-color: $blue_second;
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    justify-content: center;
    opacity: 0.9;
    overflow: hidden;
    width: 100%;
    position: absolute;
    .login {
        @include border_radius(30px);
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        height: 180px;
        padding: 20px;
        .form-login {
            align-items: center;
            display: flex;
            flex-flow: column wrap;
            height: 100%;
            justify-content: space-between;
            .title {
                font-size: $font-xxl;
                line-height: $font-xxl;
                display: block;
                text-align: center;
            }
            .line {
                display: flex;
                width: 80%;
                span.icon {
                    color: $blue_light;
                    font-size: $font-xxl;
                    height: 32px;
                    line-height: 32px;
                    text-align: center;
                    width: 32px;
                }
                input[type='text'],
                input[type='password'],
                {
                    flex: 1;
                    @include border_radius_all(0px, 4px, 4px, 0px); // border-radius: 0px 4px 4px 0px;
                }
            }
            button {
                width: 80%;
                &:hover {
                    opacity: 1;
                    color: $blue_light;
                    font-weight: bold;
                }
            }
            label.message {
                color: $blue_light;
                text-align: center;
                cursor: pointer;
                font-size: $font-md;
                &:hover {
                    color: $white;
                    opacity: 1;
                }
            }
        }
    }
}