@import '../../../sass/_variables';
@import '../../../sass/_mixins';
.footer-container {
	background-color: $blue_second;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    footer {
        background-color: $back_light;
        color: $white;
        height: 30px;
        line-height: 30px;
        padding: 0px 10px;
        text-align: right;
    }
}