/*footer*/

footer.foQbe{
	width: 100%;
	border-top: 3px solid #003da0;
	background:#000000;
	padding: 50px 0;
	z-index: 2;
	position: relative;
}
footer.foQbe ul{
	padding: 0;
	margin: 5px 0 0 0;
	list-style: none;
	text-align: center;
}
footer.foQbe ul li{
	display: inline-block;
	position: relative;
	padding: 0 10px;
}
footer.foQbe ul li:before{
	width: 1px;
	height: 10px;
	content: "";
	position: absolute;
	right: -2px;
	background:#e0e0e0;
	top: 6px;
}
footer.foQbe ul li:last-child:before{
	display: none;
}
footer.foQbe ul li a{
	color: #FFF;
	font-size: 14px;
	text-decoration: none;
}
footer.foQbe ul li a:hover{
	color: #0095df;
	text-decoration: none;
}
