<div class="root">
    <header-sube></header-sube>
    <div ui-view></div>
    <footer-sube></footer-sube>
    <!--<footer ng-if="('layout.login' | includedByState) || ('layout.emailRequest' | includedByState) || 
    ('layout.passwordRequest' | includedByState) || ('layout.passwordSet' | includedByState)" class="foQbe foolog"></footer>
    <footer ng-if="!( ('layout.login' | includedByState) || ('layout.emailRequest' | includedByState) || 
    ('layout.passwordRequest' | includedByState) || ('layout.passwordSet' | includedByState))" class="foQbe"></footer>-->
</div>