<section class="offerer-home">
	<header class="mainTx thirdBg">Mis Ofertas</header>

<div class="page-container">
    <section class="main">
		<header class="mainTx thirdBg">Mis Ofertas</header>
		<br>
		<table ng-table="vm.table" class="table table-condensed table-bordered table-striped">
			<thead ng-if="$data.length > 0">
				<tr>
					<th ng-repeat="column in vm.columns" class="text-center">
						{{column.title}}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in $data track by $index">
					<td ng-repeat="column in vm.columns" sortable="column.field">
						<p ng-if="!column.action">{{row[column.field]}}</p>
						<button ng-if="column.action" data-ng-click="vm.goToOfferDetail(row,column);">
							{{row[column.field]}}
						</button>
					</td>
				</tr>
			</tbody>
		</table> 
	</section>
</div>

	<div class="offer-filter">
		<div class="item">
			<label class="mainTx font-md ellipsis" title="Nombre">Nombre</label>
			<input type="text" name="" placeholder="Nombre de la oferta">
		</div>
		<div class="item">
			<label class="mainTx font-md ellipsis" title="Fecha">Fecha</label>
			<input type="date" name="" placeholder="Fecha de creación">
		</div>
		<div class="item">
			<label class="mainTx font-md ellipsis" title="tipo">Tipo</label>
			<select name="type">
				<option value="-1">--Seleccione--</option>
			</select>
		</div>
		<div class="item">
			<label class="mainTx font-md ellipsis" title="Estado">Estado</label>
			<select name="type">
				<option value="-1">--Seleccione--</option>
			</select>
		</div>
	</div>
	<table class="main-table">
		<tr>
			<th class="th-header mainTx">Convocatoria</th>
			<th class="th-header mainTx">Tipo</th>
			<th class="th-header mainTx">Fecha de creación</th>
			<th class="th-header mainTx">Estado</th>
			<th class="th-header mainTx">Detalle</th>
		</tr>
		<tr>
			<td class="td-normal">2017070801</td>
			<td class="td-normal">Beca</td>
			<td class="td-normal">2017/07/30</td>
			<td class="td-normal">Abierta</td>
			<td class="td-normal">*</td>
		</tr>
	</table>
	<div class="pagination-container">
		<label class="mainTx">Pagina {[0]} de {[0]}</label>
		<div class="item arrow-left thirdBg">
			<span class="mainTx">&lt;&lt;</span>
		</div>
		<div class="item thirdBg">
			<span class="mainTx">1</span>
		</div>
		<div class="item thirdBg">
			<span class="mainTx">2</span>
		</div>
		<div class="item thirdBg">
			<span class="mainTx">3</span>
		</div>
		<div class="item arrow-right thirdBg">
			<span class="mainTx">&gt;&gt;</span>
		</div>
	</div>
</section>
