<section class="offerer-home">
	<div class="offerer-container">
		<header class="mainTx thirdBg">Mis Ofertas</header>
		<div class="filter-container">
			<div class="item">
				<label class="mainTx font-md ellipsis" title="Nombre">Nombre</label>
				<input type="text" name="" placeholder="Nombre de la oferta">
			</div>
			<div class="item">
				<label class="mainTx font-md ellipsis" title="Fecha">Fecha</label>
				<input type="date" name="" placeholder="Fecha de creación">
			</div>
			<div class="item">
				<label class="mainTx font-md ellipsis" title="tipo">Tipo</label>
				<select name="type">
					<option value="-1">--Seleccione--</option>
				</select>
			</div>
			<div class="item">
				<label class="mainTx font-md ellipsis" title="Estado">Estado</label>
				<select name="type">
					<option value="-1">--Seleccione--</option>
				</select>
			</div>
			<div class="button-container">
				<button class="whiteTx mainBg">Consultar</button>
			</div>
		</div>
		<div class="table-container">
			<table ng-table="vm.table" class="main-table">
				<thead ng-if="$data.length > 0">
					<tr>
						<th ng-repeat="column in vm.columns" class="th-header mainTx">
							{{column.title}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in $data track by $index">
						<td ng-repeat="column in vm.columns" sortable="column.field" class="td-normal">
							<p ng-if="!column.action">{{row[column.field]}}</p>
							<button ng-if="column.action" data-ng-click="vm.goToOfferDetail(row,column);">
								{{row[column.field]}}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pagination-container">
			<label class="mainTx">Pagina {[0]} de {[0]}</label>
			<div class="item arrow-left thirdBg">
				<label class="mainTx">&lt;&lt;</label>
			</div>
			<div class="item thirdBg">
				<label class="mainTx">1</label>
			</div>
			<div class="item thirdBg">
				<label class="mainTx">2</label>
			</div>
			<div class="item thirdBg">
				<label class="mainTx">3</label>
			</div>
			<div class="item arrow-right thirdBg">
				<label class="mainTx">&gt;&gt;</label>
			</div>
		</div>
	</div>
	<div class="button-cotainer">
		<button type="button" class="whiteTx mainBg" ng-click="vm.goToCreateOffer()">Crear oferta</button>
	</div>
</section>