
   <!--<top-panel></top-panel>
   
<div class="contGen bgGray">
	<div class="bgImgHome"></div>
 	
  	<div class="container contZ">
		<div class="home_titCont">
			<div class="row">
				<div class="col-sm-7">
					<h1>Portal de Servicios al {{vm.JWTtoken.currentRole}}</h1>
					<p>Conoce todos los servicios que tenemos a tu disposición.</p>
				</div>
			</div>
		</div>
		<div class="cont">
			<div class="home_cont">
				<div class="row">
					<div class="col-sm-6">
						<h2>QBE adquiere HSBC La Buenos Aires</h2>
						<p>El Grupo se ubica de esta manera como el tercero en el mercado asegurador de la Argentina.El Grupo se ubica de esta manera como el tercero en el mercado asegurador de la Argentina.</p>
						<p>El Grupo se ubica de esta manera como el tercero en el mercado asegurador de la Argentina.</p>
					</div>
					<hr class="lineHi">
					<div class="col-sm-6">
						<div class="imgOme"><img class="featurette-image img-responsive center-block" alt="500x500" src="../../../../../assets/images/img_home.jpg"></div>
						<h3>QBE adquiere HSBC La Buenos Aires</h3>
						<p>El Grupo se ubica de esta manera como el tercero en el mercado asegurador de la Argentina.</p>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-sm-6">
						<h3>QBE adquiere HSBC La Buenos Aires</h3>
						<p>El Grupo se ubica de esta manera como el tercero en el mercado asegurador de la Argentina.</p>
					</div>
					<hr class="lineHi">
					<div class="col-sm-6">
						<h3>QBE adquiere HSBC La Buenos Aires</h3>
						<p>El Grupo se ubica de esta manera como el tercero en el mercado asegurador de la Argentina.</p>
						
					</div>
				</div>			
			</div>
						
		</div>

    </div>
</div>

-->


<button ng-click="vm.logout()">cerrar sesión </button>