@import '../../../sass/_variables';
@import '../../../sass/_mixins';
.offer-detail {
    align-items: center;
    background-color: $white;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    padding: 5px;
    form {
        border: solid 1px $blue_border;
        width: 90%;
        min-width: 568px;
        margin-bottom: 10px;
        header {
            font-weight: bold;
            font-size: $font-md;
            height: 30px;
            line-height: 30px;
            padding: 5px;
        }
        .section {
            display: flex;
            flex-flow: row wrap;
            padding: 10px;
            .item {
                display: flex;
                flex-flow: row wrap;
                flex: 0 0 100%;
                border-bottom: 1px solid $blue_border;
                padding: 5px 0px;
                label {
                    display: inline-block;
                    line-height: 30px;
                    margin-right: 10px;
                }
                .full-text {
                    flex: 1;
                }
                .description {
                    padding: 5px;
                    flex: 1;
                    height: auto;
                    overflow: auto;
                }
            }
            .icon {
                border-radius: 50px;
                color: #ffffff;
                cursor: pointer;
                font-size: 18px;
                height: 30px;
                line-height: 30px;
                margin: 5px;
                padding: 5px;
                text-align: center;
                width: 30px;
                &:hover {
                    opacity: 0.4;
                }
            }
        }
    }
}