<section class="offer-detail">
    <form name="register">
        <header class="mainTx thirdBg">Detalle de la oferta</header>
        <section class="section">
            <div class="item">
                <label class="mainTx font-md font-bold ellipsis" title="Nombre">Nombre</label>
                <label class="secondTx font-md ellipsis full-text" title="">{{vm.offer.name}}</label>
                <div class="action-container" ng-if="vm.isOfferor">
                    <span class="icon_edit icon mainBg" title="Agregar el campo"></span>
                    <span class="icon_bin icon secondBg" title="Borrar el campo"></span>
                    <button class="whiteTx mainBg" ng-click="vm.createStep()">Agregar paso</button>
                </div>
                <div class="action-container" ng-if="!vm.isOfferor">
                    <button class="whiteTx mainBg" ng-click="vm.postulate()">Postularse</button>                    
                </div>
            </div>
            <div class="item">
                <label class="mainTx font-md font-bold ellipsis" title="Area">Area</label>
                <label class="secondTx font-md ellipsis" title="Area">Ingenieria</label>
            </div>
            <div class="item">
                <label class="mainTx font-md font-bold ellipsis" title="Tipo">Tipo</label>
                <label class="secondTx font-md ellipsis" title="Beca">{{vm.offer.type == 0 ? 'Credito Educativo' : vm.offer.type == 1 ? 'Beca total' : 'Beca parcial'}}</label>
            </div>
            <div class="item">
                <label class="mainTx font-md font-bold ellipsis" title="País">País</label>
                <label class="secondTx font-md ellipsis" title="Colombia">Colombia</label>
            </div>

            <div class="item">
                <label class="mainTx font-md font-bold ellipsis" title="Fecha Inicio de postulación">Fecha Inicio de postulación</label>
                <label class="secondTx font-md ellipsis" title="2017/10/26">{{vm.offer.startDate}}</label>
            </div>
            <div class="item">
                <label class="mainTx font-md font-bold ellipsis" title="Fecha limite de postulación">Fecha limite de postulación</label>
                <label class="secondTx font-md ellipsis" title="2017/11/26">{{vm.offer.endDate}}</label>
            </div>
            <div class="item">
                <label class="mainTx font-md font-bold ellipsis" title="Tipo de documento">Descripción</label>
                <div class="secondTx font-md description">{{vm.offer.description}}</div>
            </div>
        </section>
    </form>
    <div class="button-cotainer">
        <button type="button" routerLink="/register" routerLinkActive="active" class="whiteTx secondBg"> Cancelar</button>
        <button type="button" class="whiteTx mainBg" ng-click="vm.register()">Registrar</button>
    </div>

</section>