@import '../../../sass/_variables';
.notification-container {
    z-index: 1000;
    animation: fadein 1s;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    .notification {
        border-radius: 5px;
        background-color: $white;
        box-shadow: 5px 5px 5px #000000;
        min-height: 150px;
        opacity: 1;
        width: 40%;
        header {
            border-radius: 5px 5px 0 0;
            align-items: center;
            display: flex;
            font-size: $font-md;
            height: 36px;
            justify-content: flex-start;
            opacity: 1;
            padding: 5px;
            .icon_ {
                color: $white !important;
                font-size: $font-xxl !important;
            }
            .title {
                flex: 1;
                color: $white;
                font-size: $font-lg;
                margin-left: 5px;
            }
            .close {
                cursor: pointer;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
        .message {
            padding: 10px;
            label.text {
                text-align: justify;
            }
        }
    }
    .test {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 10px;
        .item {
            align-items: center;
            display: flex;
            flex-flow: column wrap;
            width: 100%;
            label {
                margin: 10px 0px 5px 0px;
            }
            .group {
                display: flex;
                justify-content: center;
                width: 100%;
                .icon {
                    color: $blue_header;
                    font-size: 30px;
                    line-height: 30px;
                }
                input {
                    flex: 0 0 60%;
                    margin-left: 5px;
                }
            }
        }
        .button-container {
            margin-top: 10px;
        }
    }
    .error {
        header {
            background-color: $red;
            .icon_ {
                &:before {
                    content: "\ea0e";
                }
            }
        }
    }
    .success {
        header {
            background-color: $green;
        }
        .icon_ {
            &:before {
                content: "\ea0c";
            }
        }
    }
    .warning {
        header {
            background-color: $yellow;
        }
        .icon_ {
            &:before {
                content: "\ea07";
            }
        }
    }
    .recovery {
        header {
            background-color: $blue_header;
        }
        .icon_ {
            &:before {
                content: "\e903";
            }
        }
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1 !important;
    }
}