<div class="notification-container" ng-if="vm.isOpen">
    <div class="notification" ng-class="{'error': vm.type === 'error', 'success': vm.type == 'success'}">
        <header>
            <span class="icon_" title="{{vm.title}}"></span>
            <label class="title">{{vm.title}}</label>
            <span ng-click="vm.closeModal()" class="icon_cancel-circle whiteTx font-xxl close" title="Cerrar"></span>
        </header>
        <section class="message">
            <label class="text secondTx">{{vm.message}}</label>
        </section>
    </div>
</div>