<div class="notification-container">
    <div class="notification error">
        <header>
            <span class="icon_login_user icon" title="[[Title]]"></span>
            <label class="title">[[Title]]</label>
            <span class="icon_login_user icon close" title="Cerrar"></span>
        </header>
        <section class="message">
            <label class="text secondTx">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque velit minus amet quae itaque ab voluptate veritatis,
                temporibus facere dolor et, rerum, corrupti vel eaque doloribus laborum libero consequuntur! Modi.</label>
        </section>
    </div>
</div>