
    <div class="test">
        <div class="item">
            <header class="mainTx">¿Qué es un candidato?</header>
            <span class="canditate icon"></span>
            <div class="description secondTx">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam molestiae, omnis praesentium impedit fugit repudiandae
                quisquam non minima sunt aliquam laboriosam expedita consequuntur officia veritatis illum, ex, molestias
                beatae nesciunt?
            </div>
            <button ng-click="vm.goToCandidate()" type="button" class="whiteTx mainBg" routerLink="/register/candidate/0" routerLinkActive="active">Registrar Candidato</button>
        </div>
        <div class="item">
            <header class="mainTx">¿Qué es un oferente?</header>
            <span class="offerer icon"></span>
            <img src="/../register_redirect/Icono_candidato.png">
            <div class="description secondTx">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam molestiae, omnis praesentium impedit fugit repudiandae
                quisquam non minima sunt aliquam laboriosam expedita consequuntur officia veritatis illum, ex, molestias
                beatae nesciunt?
            </div>
            <button ng-click="vm.goToOfferent()" type="button" class="whiteTx mainBg" routerLink="/register/offerer/0" routerLinkActive="active">Registrar oferente</button>
        </div>
    </div>
