// 16px * 0.0625 = 1rem
$p: 12px;
$h1: 20px;
$h2: 16px;
$h3: 14px;
$font-xxl: 22px;
$font-xl: 20px;
$font-lg: 16px;
$font-md: 14px;
$font-sm: 12px;
$font-xs: 10px;
$black_text:#030104;
$back_light:#2e2e2e;
$blue_main:#28384D;
$blue_second: #666F85;
$blue_bg: #edf0f6;
$blue_border: #d3d6e0;
$blue_header: #35455D;
$blue_light:#3191CF;
$gray_text: #545354;
$white:#ffffff;
$red: #d15858;
$yellow: #f8f868;
$green: #73d158;