@import './sass/_variables';
@import './sass/_mixins';
@import './sass/reset';
@import './sass/sube';
@font-face {
    font-family: "OpenSans";
    src: url("./font/Open_Sans/OpenSans-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("./font/Open_Sans/OpenSans-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("./font/Open_Sans/OpenSans-Light.ttf") format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "OpenSans";
    src: url("./font/Open_Sans/OpenSans-BoldItalic.ttf") format('truetype');
    font-style: italic;
    font-weight: bold;
}

html {
    height: 100%;
}

body {
    font-family: "OpenSans";
    font-size: $font-sm;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

h1 {
    font-size: $h1;
    font-weight: bold;
}

h2 {
    font-size: $h2;
    font-weight: bold;
}

h3 {
    font-size: $h3;
}

p {
    font-size: $p;
    font-weight: normal;
}

textarea {
    outline: none;
    font: inherit;
    line-height: 150%;
    border: none;
}

input,
button,
select {
    @include border_radius(3px);
    border: none;
    font-size: $font-sm;
    height: 26px;
    line-height: 26px;
    min-width: 5rem;
    outline: none;
    padding: 2px 6px;
    resize: none;
    &:active {
        border-style: none;
    }
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    &.mainBg:hover,
    &.secondBg:hover {
        opacity: 0.4;
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-clear-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='date']::-webkit-calendar-picker-indicator {
    background-color: initial;
}

input,
select,
textarea {
    border: solid 1px $blue_border;
}

.font-xxl {
    font-size: $font-xxl;
}

.font-xl {
    font-size: $font-xl;
}

.font-lg {
    font-size: $font-lg;
}

.font-md {
    font-size: $font-md;
}

.font-sm {
    font-size: $font-sm;
}

.font-xs {
    font-size: $font-xs;
}

mark {
    background-color: initial;
    color: red;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.headerBg {
    background-color: $blue_header;
}

.mainBg {
    background-color: $blue_main;
}

.mainTx {
    color: $blue_main;
}

.mainBorder {
    border-color: $blue_border;
}

.secondTx {
    color: $gray_text;
}

.secondBg {
    background-color: $blue_second;
}

.thirdBg {
    background-color: $blue_bg;
}

.secondBorder {}

.blackTx {
    color: $black_text;
}

.whiteTx {
    color: $white;
}

.whiteBg {
    background-color: $white;
}

.whiteBorder {
    border-color: $white;
}

.action {
    border-radius: 50%;
    cursor: pointer;
    color: $white;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
    width: 30px;
    &:hover {
        opacity: 0.4;
    }
}

.onoffswitch {
    position: relative;
    width: 74px;
    user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid $white;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 28px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #28384D;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #666F85;
    color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 2px solid $white;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}